<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Редактирование книжечки</title>
  <link rel="stylesheet" href="/css/edit.css">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:insert="blocks/header"></div>
<div th:each="el : ${book}">
  <form method="post" th:object="${book}">
    <ul class="form-style-1" method="post">
      <li>
        <label>Название книжечки <span class="required">*</span></label>
        <input type="text" th:value="${el.title}" name="title" class="field-divided"/>
        <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div><br>
      <li>
        <label>Автор <span class="required">*</span></label>
        <input type="text" th:value="${el.author}" name="author" class="field-long" />
      <div style="color: red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></div><br>
      </li>
      <li>
        <p><label><input type="checkbox" name="ordered">
          <span>Заказана?</span></label></p>
      </li>
      <li>
        <label>Дата издания<span class="required">*</span></label>
        <input th:value="${el.date}" name="date" class="field-long" max="2022-08-31" min="1985-04-23" required/>
        <div style="color: red" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div><br>
      </li>
      <li>
        <label>Количество страниц <span class="required">*</span></label>
        <input type="number" th:value="${el.pages}" name="pages" class="field-long" />
        <div style="color: red" th:if="${#fields.hasErrors('pages')}" th:errors="*{pages}"></div><br>
      </li>
      <li>
        <button type="submit">Подтвердить </button>
      </li>
    </ul>
  </form>
</div>
</body>
</html>