<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Редактирование ридера</title>
  <link rel="stylesheet" href="/css/edit.css">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:insert="blocks/header"></div>
<div th:each="el : ${reader}">
  <form method="post">
    <ul class="form-style-1" method="post">
      <li>
        <label>Фамилия <span class="required">*</span></label>
        <input type="text" th:value="${el.surname}" name="surname" class="field-divided"/>
      <li>
        <label>Имя <span class="required">*</span></label>
        <input type="text" th:value="${el.name}" name="name" class="field-long" />
      </li>
      <li>
        <p><label><input type="checkbox" th:value="${el.middle}" name="middle">
          <span>Отчество</span></label></p>
      </li>
      <li>
        <label>Возраст <span class="required">*</span></label>
        <input type="number" th:value="${el.age}" name="age" class="field-long" />
      </li>
      <li>
        <label>Группа <span class="required">*</span></label>
        <input type="number" th:value="${el.groupName}" name="groupName" class="field-long" />
      </li>
      <li>
        <button type="submit">Подтвердить </button>>
      </li>
    </ul>
  </form>
</div>



<!--<div th:each="el : ${reader}">-->
<!--  <form method="post">-->
<!--    <input th:value="${el.surname}" type="text" name="surname" placeholder="Введите фамилию"><br>-->
<!--    <input th:value="${el.name}" type="text" name="name" placeholder="Введите имя"><br>-->
<!--    <p><label><input type="checkbox" name="middle" th:value="${el.middle}">-->
<!--      <span>Есть отчество</span></label></p>-->
<!--    <input th:value="${el.age}" type="number" name="age" placeholder="Введите возраст"><br>-->
<!--    <input th:value="${el.groupName}" type="number" name="groupName" placeholder="Введите номер группы"><br>-->
<!--    <br>-->
<!--    <button type="submit">Сохранить изменения</button>-->
<!--  </form>-->
<!--</div>-->
</body>
</html>