<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/home.css">
    <title>Ридеры</title>
</head>
<body>
<div th:insert="blocks/header"></div>
<table id="book">
    <tr>
        <th>Фамилия</th>
        <th>Имя</th>
    </tr>
    <div th:each="el : ${reader}">
        <tr>
            <td th:text="${el.surname}"></td>
            <td th:text="${el.name}"></td>
            <td><a th:href="'/reader/' + ${el.id}">Подробнее</a></td>
        </tr>
    </div>
</table>
</body>
</html>